.header{
    background-color: skyblue;
    min-height: 60px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    color: white;
    padding: 0 20px;
}
.App{
    text-align: center;
    color: black;
}
.Center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}